In [1]:
import pandas as pd
import seaborn as sns

In [ ]:
df = sns.load_dataset("titanic")
df.head(20)

**Subject of this notebook** : What every column 
                            means in Kashti dataset\
**Name of the Auther** : Qadir Shahbaz\
**Where to contact** : qadir_shahbaz@yahoo.co.uk\
**Date** : 10/01/2023

 0   survived     People who lived after the incident   
 1   pclass       Passenger class, 1 class, 2 class, 3 class 
 2   sex          Male, Female  
 3   age          What was the age of the passengers
 4   sibsp        Sibling or spouse   
 5   parch        Number of parents and childerns on board  
 6   fare         How much they paid the ticket for travel
 7   embarked     Embarked column have 3 values. C for Cherbourg, Q for 
                  Queenstown and S for southampton
 8   class        1st class, 2nd class, 3rd class
 9   who          Male, Female, Child 
 10  adult_male   True if it was adult male otherwise False   
 11  deck         Level or floor of ship passanger was located on
 12  embark_town  Cherbourg, Queenstown, Southampton  
 13  alive        Lived after the incident
 14  alone        Travelling alone or not

**Subject of this notebook** : How many dataset are in sns.load_dataset
**Name of the Auther** : Qadir Shahbaz\
**Where to contact** : qadir_shahbaz@yahoo.co.uk\
**Date** : 10/01/2023

There are 13 datasets in the seaborn library. They are:

tips
titanic
iris
flights
exercise
Planets
Titanic
fmri
example_fmri
anscombe
brain_networks
car_crashes
diamonds

**Subject of this notebook** : what is nan and why is it important in data?
**Name of the Auther** : Qadir Shahbaz\
**Where to contact** : qadir_shahbaz@yahoo.co.uk\
**Date** : 10/01/2023

"NaN" stands for "Not a Number" and is used to represent missing or null values in a dataset.
It is important to identify and handle NaN values in a dataset because they can affect the accuracy and reliability of statistical analyses and machine learning models that are built using the data. For example, if a model is trained on a dataset that contains missing values, the model may not be able to accurately make predictions for new data that also contains missing values. Therefore, it is important to identify and fill or drop NaN values in a dataset before using it to build a model.